footer {
    background-color: #1d1d1d;
    padding: 5px 75px 5px 75px;
    margin: 25px 50px 0 50px;
    border-radius: 100px;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 25px;
}

.footerlink{
    color: yellowgreen;
}

#webtitle {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 70px;
    grid-area: title;
}

#leftnav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    grid-area: lnav;
}

#rightnav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    grid-area: rnav;
}

.titleitem {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: #aaa;
}

#discord {
    grid-area: disc;
    border-radius: 40px;
}

#content {
    grid-area: cont;
    padding: 16px;
}

.navbar {
    font-weight: 300;
    color: #ddd;
    font-size: 45px;
}

.here {
    color:white;
    font-weight: 700;
    text-decoration:none;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-image: linear-gradient(to bottom, #111138, #404096);
    margin: 0;
    padding: 5px 50px 5px 50px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "title title"
        "lnav rnav"
}

.navgroup{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navhead{grid-area: hd;}
#navg1{grid-area:g1;}
#navg2{grid-area:g2;}
#navg3{grid-area:g3;}

#mainnav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "hd hd hd"
        "g1 g2 g3"
        ;
    background-color: #2e2e2e;
    padding: 8px 16px 24px 16px;
}

.mcbutton {
    box-shadow: 2px 2px 10px 0px #ffffff;
    background-color: #6b6b6b;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 50px;
    font-weight: bold;
    padding: 16px 30px;
    width: 67.5%;
    text-decoration: none;
    text-shadow: 0px 1px 2px #000000;
    margin: 20px 10px 20px 10px;
}

    .mcbutton:hover {
        background-color: #8f8f8f;
    }

    .mcbutton:active {
        background-color: #aaaaaa;
    }

.connect {
    margin: 10px 0 10px 0;
    padding: 0 20px 0 20px;
    width: 50%;
    justify-content: center;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
}

#instagram {
    background: rgb(64,93,230);
    background: linear-gradient(90deg, rgba(64,93,230,1) 0%, rgba(225,48,108,1) 33%, rgba(245,96,64,1) 67%, rgba(255,220,128,1) 100%);
}

#discord {
    background: rgb(114, 137, 218);
    border-radius: 25px;
}

.rrur {
    font-size: 40px;
    margin-left: 15px;
    font-weight: 900;
    color: white;
    text-decoration: none;
}