/*global*/
body {
    text-align: center;
    background-color: #222;
    color: white;
}

.footer {
    background-color: #333;
    padding: 5px 75px 5px 75px;
    margin: 25px 50px 0 50px;
    border-radius: 100px;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2.3vw;
}

.footerlink{
    color: yellowgreen;
}

#webtitle {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 9vw;
    grid-area: title;
}

#leftnav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    grid-area: lnav;
}

#rightnav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    grid-area: rnav;
}

.titleitem {
    font-size: 6.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 10px 10px 10px darkblue;
}

#content {
    grid-area: cont;
    padding: 16px;
}

.navbar {
    font-weight: 300;
    font-size: 5vw;
    text-decoration: none;
    color: #bbb;
}

.here {
    color:white;
    font-weight: 700;
    scale: 1.05;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: linear-gradient(to bottom, #111138, #404096);
    margin: 0;
    padding: 5px 4vw 5px 4vw;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "lnav rnav"
}

.navgroup{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#spacer{grid-area:sp;}
#navg1{grid-area:g1;}
#navg2{grid-area:g2;}
#navg3{grid-area:g3;}

#mainnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "sp sp sp"
        "g1 g2 g3";
    background-color: #252530;
    padding: 8px 1.5vw 24px 1.5vw;
    box-shadow: 0 0 10px 10px #252530, 0 10px 10px 2px yellow;
}

/*index*/
.introlink {
    display: block;
    margin: 10px 15vw 20px 15vw;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-size: 5vw;
    text-decoration: none;
    color: white;
    background-color: #e22;
    font-weight: 900;
    transition: 0.25s;
}

.introlink:active {
        scale: 1.05;
        color: #f00;
        background-color: #eee;
}

/*minecraft*/
.mcbutton {
    box-shadow: 2px 2px 10px 0px #ffffff;
    background-color: #6b6b6b;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 5vw;
    font-weight: bold;
    padding: 1.6vw 3vw;
    width: 67.5%;
    text-decoration: none;
    text-shadow: 0px 1px 2px #000000;
    margin: 20px 0 20px 0;
}

    .mcbutton:hover {
        background-color: #8f8f8f;
    }

    .mcbutton:active {
        background-color: #aaaaaa;
    }

/*contact*/
.connect {
    margin: 10px 0 10px 0;
    padding: 0 20px 0 20px;
    width: 50%;
    justify-content: center;
    border-radius: 3vw;
    display: inline-flex;
    align-items: center;
}

#instagram {
    background: rgb(64,93,230);
    background: linear-gradient(90deg, rgba(64,93,230,1) 0%, rgba(225,48,108,1) 33%, rgba(245,96,64,1) 67%, rgba(255,220,128,1) 100%);
}

#discordt {
    background: rgb(114, 137, 218);
}

.rrur {
    font-size: 3.8vw;
    margin-left: 15px;
    font-weight: 900;
    color: white;
    text-decoration: none;
}

/*social*/
.socialitem {
    padding: 2.5vw;
    margin: 5vw 8.5vw 5vw 8.5vw;
    border-radius: 2.5vw;
    background-color: darkred;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 7vw;
    text-decoration: dotted;
}

.socialitemlink {
    text-decoration: none;
    height: fit-content;
    color: white;
}

.socialitemlink:active {
    color: yellow;
}
