/*global*/
body {
    text-align: center;
    background-color: #222;
    color: white;
}

.footer {
    margin: 0;
    padding: 50px 75px 50px 75px;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2.8vw;
}

.footer p {
    margin: 0;
}

.footerlink{
    color: yellowgreen;
}

#webtitle {
    padding: 2vw 0;
    grid-area: title;
}

#webtitleimg {
    height: 17.5vw;
}

#leftnav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    grid-area: lnav;
}

#rightnav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    grid-area: rnav;
}

.titleitem {
    font-size: 6.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 10px 10px 10px darkblue;
}

#content {
    grid-area: cont;
    padding: 2.5vw;
}

.navbar {
    font-weight: 300;
    font-size: 5vw;
    text-decoration: none;
    color: #bbb;
}

.here {
    color:white;
    font-weight: 700;
    scale: 1.05;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: linear-gradient(to bottom, #111138, #404096);
    margin: 0;
    padding: 5px 4vw 5px 4vw;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "lnav rnav"
}

.navgroup{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#spacer{grid-area:sp;}
#navg1{grid-area:g1;}
#navg2{grid-area:g2;}
#navg3{grid-area:g3;}

#mainnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0;
    grid-template-areas:
        "g1 g2 g3 sp";
    background-color: #252530;
    padding: 8px 1.5vw 24px 1.5vw;
    box-shadow: 0 0 10px 10px #252530, 0 10px 10px 2px yellow;
}

/*index*/
.introlink {
    display: block;
    margin: 10px 15vw 20px 15vw;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-size: 5vw;
    text-decoration: none;
    color: white;
    background-color: #e22;
    font-weight: 900;
    transition: 0.25s;
}

.introlink:active {
        scale: 1.05;
        color: #f00;
        background-color: #eee;
}

#quicknavgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
}

.quicknavitem {
    width: 40vw;
    height: 40vw;
    padding: 2.5vw;
    border-radius: 5vw;
    background-color: rgb(255 250 0 / 25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quicknavcontainer {
    display: block;
    color: white;
    text-decoration: none;
}

.quicknavimage {
    height: 20vw;
    padding: 2vw;
}

.quicknavtext {
    font-size: 4.5vw;
}

/*contact*/
.connect {
    margin: 10px 0 10px 0;
    padding: 0 20px 0 20px;
    width: 50%;
    justify-content: center;
    border-radius: 3vw;
    display: inline-flex;
    align-items: center;
}

#instagram {
    background: rgb(64,93,230);
    background: linear-gradient(90deg, rgba(64,93,230,1) 0%, rgba(225,48,108,1) 33%, rgba(245,96,64,1) 67%, rgba(255,220,128,1) 100%);
}

#discordt {
    background: rgb(114, 137, 218);
}

.rrur {
    font-size: 3.8vw;
    margin-left: 15px;
    font-weight: 900;
    color: white;
    text-decoration: none;
}

/*social*/
.socialitem {
    padding: 2.5vw;
    margin: 5vw 8.5vw 5vw 8.5vw;
    border-radius: 2.5vw;
    background-color: darkred;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 7vw;
    text-decoration: dotted;
}

.socialitemlink {
    text-decoration: none;
    height: fit-content;
    color: white;
}

.socialitemlink:active {
    color: yellow;
}

/*webs*/
.webpager {
    display: flex;
    flex-direction: column;
    background: #333;
    border-radius: 5vw;
    margin: 0 2vw 3vw 2vw;
    padding: 4vw;
    transition: 0.2s;
    text-align: left;
}

    .webpager:active {
        scale: 1.05;
        box-shadow: white 0 0 8px;
    }

.wptitle {
    margin: 0;
    margin-bottom: 1vw;
    font-size: 6vw;
}

.wplink {
    font-size: 3.5vw;
    color: lightgreen;
    transition: 0.2s;
    margin: 0;
}

.wpdiv {
    text-decoration: none;
    color: white;
}

.wpdsc {
    text-align: left;
    display: block;
    margin: 0;
    font-size: 2.85vw;
    line-height: 3.5vw;
}

.wptit {
    display: flex;
    flex-direction:column;
    align-items: baseline;
    margin-bottom: 1vw;
}

.pbr {
    display: block;
    padding: 0.75vw;
}

.optimizedfm {
    font-size: 3vw;
    display: block;
    margin: 0.75vw 0 0.75vw 0;
    font-weight: bold;
    background-color: #222;
    padding: 1vw;
    border-radius: 2vw;
}

/*music*/
#musicFilters {
    width: 1fr;
    padding: 2vw 5vw;
    margin-top: 1vh;
    border-radius: 4vw;
    border: #222 solid 2px;
    background: rgb(182,30,30);
    background: linear-gradient(135deg, rgba(182,30,30,1) 0%, rgba(135,90,59,1) 100%);
    box-shadow: #222 0 0 10px 5px;
    position: sticky;
    top: 1vh;
    z-index: 998;
}

#searchBar {
    background: none;
    border: none;
    border-bottom: solid #999 5px;
    color: #ddd;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 3vh;
    width: 100%;
    margin-bottom: 2vh;
    transition: 0.1s ease-out, color 0.2s ease;
    text-align: center;
}

    #searchBar:focus {
        outline: none;
        border-color: #ddd;
        color: white;
        box-shadow: rgb(255 255 255 / 50%) 0 5px 3px -5px;
    }

    #searchBar::-webkit-input-placeholder {
        color: #999;
    }

    #searchBar::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

#musicFiltersName {
    font-size: 2.5vh;
    margin: 0 5vw 0 0;
}

.musicFiltersButton {
    box-shadow: #000000 1px 1px 3px 0;
    text-decoration: solid #000000 auto;
    font-size: 4vw;
    font-weight: bold;
    color: #ffffff;
    border: solid 0.3vh #bfc224;
    border-radius: 2vw;
    background-color: #171717;
    padding: 1vw 2vw;
    margin: 0 1vw;
    display: block;
    transition: 0.2s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.musicFilterView {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 50%);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;
}

.musicFiltersFilter {
    background: #333;
    padding: 2vw 4vw;
    border-radius: 4vw;
    width: 80vw;
    box-shadow: rgb(0 0 0 / 80%) 5px 5px 10px;
}

.musicFilterTitle {
    font-size: 5vw;
    margin: 0;
}

.musicFilterClose {
    box-shadow: #000000 1px 1px 3px 0;
    font-size: 2.5vh;
    font-weight: bold;
    color: white;
    border: solid 0.3vh #bfc224;
    border-radius: 2vw;
    background-color: #171717;
    padding: 1vw 2vw;
    margin-top: 2vh;
    display: block;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.musicFiltersContent {
    margin-top: 2vh;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.filterUnit {
    display: inline-flex;
    margin: 1vw;
    border-radius: 100vw;
    background: #222;
    border: 2px solid #aaa;
    padding: 2vw;
    align-items: center;
    box-shadow: black 3px 3px 5px;
}

.filterUnitBox {
    pointer-events: none;
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
    border-radius: 2vw;
}

.filterUnitText {
    margin: 0;
    pointer-events: none;
    font-size: 4vw;
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.musicEntry {
    width: calc(50% - 6vw);
    margin: 1vh 2vw;
    padding: 1vw;
    border-radius: 4vw;
    background: rgb(75,75,75);
    background: linear-gradient(135deg, rgba(75,75,75,1) 0%, rgba(64,52,28,1) 100%);
    display: inline-flex;
    flex-direction: column;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    box-shadow: black 0 0 0.5vw -0.1vw;
}

.musicEntryCover {
    border-radius: 3vw;
    width: 100%;
    height: 100%;
}

.musicEntryData {
    margin-top: 0.5vh;
    text-align: center;
}

.musicEntryTitle {
    margin: 0;
    font-size: 2.5vh;
    white-space: nowrap;
}

.musicEntryAlbum {
    margin: 0;
    font-size: 1.5vh;
    color: #ddd;
    white-space: nowrap;
}

.musicEntryLyrics {
    display: none;
}

.explicitContent {
    display: inline-flex;
    color: #444;
    background-color: #ddd;
    height: 2.5vh;
    width: 2.5vh;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 0.5vh;
    align-items: center;
    justify-content: center;
    line-height: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.musicEntryGenres {
    height: 2vh;
    display: block;
    overflow: hidden;
    justify-content: center;
    margin-top: 0.5vh;
    padding: 0 1vw;
}

.musicEntryGenre {
    margin: 0;
    margin-right: 1vw;
    height: 1.5vh;
    padding: 0.25vh 0.75vh;
    border-radius: 10vw;
    color: white;
    background-color: #222;
    font-size: 1.5vh;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    white-space: nowrap;
}

#musicView {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #222;
}

#musicViewInside {
    height: 92vh;
    width: 100%;
    overflow: auto;
}

#extraButtons {
    height: 8vh;
    width: 100%;
    display: flex;
}

.musicViewPage {
    display: none !important;
}

.musicViewPage.selected {
    display: flex !important;
}

.musicExtraButton {
    flex: 1;
    background-color: #111607;
    display: flex;
    border-right: solid #333 1px;
    border-left: solid #333 1px;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    box-shadow: #111 0 10px 10px -3px inset;
    color: #ccc;
    border-top: solid #111 10px;
}

    .musicExtraButton.selected {
        background: rgb(46,46,46);
        background: linear-gradient(135deg, rgba(46,46,46,1) 0%, rgba(33,27,19,1) 100%);
        color: white;
        box-shadow: none;
        border-top: solid white 10px;
    }

#musicViewMain {
    padding: 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#musicViewCover {
    width: 75vw;
    height: 75vw;
    border-radius: 2vw;
}

#musicViewName {
    margin: 3vw 0 2vw 0;
    font-size: 3.5vh;
}

.musicViewGenres {
    display: block;
    max-width: 90vw;
    line-height: 2.5vh;
    margin-top: 1vh;
}

    .musicViewGenres > .musicEntryGenre {
        background-color: #ccc;
        color: #000;
        font-size: 1.8vh;
        padding: 0.5vh 1vh;
    }

#musicViewArtists, #musicViewYears {
    margin: 0;
    font-size: 2.5vh;
}

#musicViewLabel {
    margin: 2vw;
    font-size: 1.8vh;
    display: flex;
    align-items: center;
    color: #ddd;
}

#listenOn {
    margin: 2.5vw 0;
    font-size: 3vh;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.linkContainer {
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.linkImage {
    width: 16vw;
    height: 16vw;
    user-drag: none;
    -webkit-user-drag: none;
    margin: 3vw;
    transition: 0.3s ease;
}

    .linkImage:active {
        scale: 1.05;
        filter: drop-shadow(white 0 0 10px);
    }

.musicViewAlbum {
    background: rgb(34,34,34);
    background: linear-gradient(135deg, rgba(34,35,35,1) 0%, rgba(24,24,20,1) 100%);
    padding: 2vw;
    margin-bottom: 2vh;
    border-radius: 4vw;
    box-shadow: black 3px 3px 5px;
    width: 1fr;
    display: flex;
    align-items: center;
}

.musicViewAlbumCover {
    border-radius: 2vw;
    width: 35vw;
    height: 35vw;
    margin-right: 3vw;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.musicViewAlbumData {
    flex-grow: 1;
    text-align: left;
    line-height: 0;
    position: relative;
}

.musicViewAlbumName {
    margin: 0;
    margin-bottom: 2.5vw;
    font-size: 2.5vh;
    line-height: 1;
}

.musicViewAlbumDesc {
    color: #ddd;
    margin: 0;
    margin-bottom: 1vw;
    font-size: 1.75vh;
    line-height: 2.25vh;
}

.musicViewAlt {
    background: rgb(28,28,28);
    padding: 2vw;
    margin-bottom: 2vh;
    border-radius: 4vw;
    box-shadow: black 3px 3px 5px;
    width: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musicViewAltName {
    margin: 0;
    margin-bottom: 1vw;
    font-size: 2.5vh;
    line-height: 1;
}

#extra {
    flex-direction: column;
    padding: 5vw;
}

/*stream*/
#streamttl {
    margin: 0;
    font-size: 7vw;
    padding-bottom: 2vw;
}

#titleseason {
    display: flex;
    margin-bottom: 4vw;
    align-items: center;
    flex-direction: column;
}

#streamssn {
    background-color: orangered;
    border-radius: 100vw;
    border: solid yellow 3px;
    padding: 1.5vw;
    display: flex;
    align-items: center;
}

    #streamssn > h2 {
        margin: 0 1.5vw 0 0;
        font-size: 4.5vw;
        line-height: 1;
    }

    #streamssn > div {
        background-color: yellow;
        display: flex;
        width: 6vw;
        height: 4.5vw;
        border-radius: 3vw;
        align-items: center;
        justify-content: center;
        outline: #222 0.75vw solid;
    }

        #streamssn > div > h3 {
            margin: 0;
            color: #222;
            font-size: 3.75vw;
            line-height: 1;
        }

#streamside {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4vw;
    padding: 4vw;
    align-items: start;
}

.streamside {
    border: solid 1vw orangered;
    box-shadow: orangered 0 0 5px;
    border-radius: 8vw;
    background-color: orangered;
}

    .streamside > h1 {
        margin: 1vw;
        font-size: 6vw;
    }

    .streamside > p {
        background-color: rgba(0 0 0 / 50%);
        padding: 2vw;
        margin: 1vw 0;
        border-radius: 4vw;
        font-size: 3vw;
    }

    .streamside > div {
        background-color: rgba(16 16 16 / 90%);
        padding: 4vw;
        border-radius: 4vw 4vw 7vw 7vw;
    }

        .streamside > div > p {
            margin: 0;
            font-size: 3vw;
        }

            .streamside > div > p > a {
                text-decoration: none;
                color: yellow;
                font-weight: bold;
            }

.streamelmc {
    border-radius: 3px 2vw 2vw 3px;
    border-left: #777 solid 3px;
    display: block;
    padding: 2vw 2vw 2vw 4vw;
    margin-bottom: 4vw;
    text-align: left;
}

    .streamelmc > h1 {
        margin: 0;
        font-size: 6vw;
    }

    .streamelmc > h2 {
        color: #aaa;
        margin: 0;
        font-size: 4vw;
    }

.streamelms {
    border-radius: 3px 2vw 2vw 3px;
    border-left: #777 solid 3px;
    margin-bottom: 4vw;
    text-align: left;
}

    .streamelms > div {
        display: flex;
        background-color: orangered;
        justify-content: space-between;
        border-radius: 0 2vw 2vw 0;
        padding: 2vw 2vw 2vw 4vw;
    }

        .streamelms > div > h2 {
            margin: 0;
            font-size: 4vw;
        }

    .streamelms > h1 {
        font-size: 6vw;
        margin: 2vw 2vw 2vw 4vw;
    }

    .streamelms > p {
        font-size: 3.5vw;
        margin: 0 2vw 2vw 4vw;
    }