/*global*/
body {
    text-align: center;
    background-color: #222;
    color: white;
}

.footer {
    margin: 0;
    padding: 50px 75px 50px 75px;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2.8vw;
}

.footer p {
    margin: 0;
}

.footerlink{
    color: yellowgreen;
}

#webtitle {
    padding: 2vw 0;
    grid-area: title;
}

#webtitleimg {
    height: 17.5vw;
}

#leftnav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    grid-area: lnav;
}

#rightnav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    grid-area: rnav;
}

.titleitem {
    font-size: 6.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 10px 10px 10px darkblue;
}

#content {
    grid-area: cont;
    padding: 2.5vw;
}

.navbar {
    font-weight: 300;
    font-size: 5vw;
    text-decoration: none;
    color: #bbb;
}

.here {
    color:white;
    font-weight: 700;
    scale: 1.05;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: linear-gradient(to bottom, #111138, #404096);
    margin: 0;
    padding: 5px 4vw 5px 4vw;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "lnav rnav"
}

.navgroup{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#spacer{grid-area:sp;}
#navg1{grid-area:g1;}
#navg2{grid-area:g2;}
#navg3{grid-area:g3;}

#mainnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0;
    grid-template-areas:
        "g1 g2 g3 sp";
    background-color: #252530;
    padding: 8px 1.5vw 24px 1.5vw;
    box-shadow: 0 0 10px 10px #252530, 0 10px 10px 2px yellow;
}

/*index*/
.introlink {
    display: block;
    margin: 10px 15vw 20px 15vw;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-size: 5vw;
    text-decoration: none;
    color: white;
    background-color: #e22;
    font-weight: 900;
    transition: 0.25s;
}

.introlink:active {
        scale: 1.05;
        color: #f00;
        background-color: #eee;
}

#quicknavgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
}

.quicknavitem {
    width: 40vw;
    height: 40vw;
    padding: 2.5vw;
    border-radius: 5vw;
    background-color: rgb(255 250 0 / 25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quicknavcontainer {
    display: block;
    color: white;
    text-decoration: none;
}

.quicknavimage {
    height: 20vw;
    padding: 2vw;
}

.quicknavtext {
    font-size: 4.5vw;
}

/*contact*/
.connect {
    margin: 10px 0 10px 0;
    padding: 0 20px 0 20px;
    width: 50%;
    justify-content: center;
    border-radius: 3vw;
    display: inline-flex;
    align-items: center;
}

#instagram {
    background: rgb(64,93,230);
    background: linear-gradient(90deg, rgba(64,93,230,1) 0%, rgba(225,48,108,1) 33%, rgba(245,96,64,1) 67%, rgba(255,220,128,1) 100%);
}

#discordt {
    background: rgb(114, 137, 218);
}

.rrur {
    font-size: 3.8vw;
    margin-left: 15px;
    font-weight: 900;
    color: white;
    text-decoration: none;
}

/*social*/
.socialitem {
    padding: 2.5vw;
    margin: 5vw 8.5vw 5vw 8.5vw;
    border-radius: 2.5vw;
    background-color: darkred;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 7vw;
    text-decoration: dotted;
}

.socialitemlink {
    text-decoration: none;
    height: fit-content;
    color: white;
}

.socialitemlink:active {
    color: yellow;
}

/*webs*/
.webpager {
    display: flex;
    flex-direction: column;
    background: #333;
    border-radius: 5vw;
    margin: 0 2vw 3vw 2vw;
    padding: 4vw;
    transition: 0.2s;
    text-align: left;
}

    .webpager:active {
        scale: 1.05;
        box-shadow: white 0 0 8px;
    }

.wptitle {
    margin: 0;
    margin-bottom: 1vw;
    font-size: 6vw;
}

.wplink {
    font-size: 3.5vw;
    color: lightgreen;
    transition: 0.2s;
    margin: 0;
}

.wpdiv {
    text-decoration: none;
    color: white;
}

.wpdsc {
    text-align: left;
    display: block;
    margin: 0;
    font-size: 2.85vw;
    line-height: 3.5vw;
}

.wptit {
    display: flex;
    flex-direction:column;
    align-items: baseline;
    margin-bottom: 1vw;
}

.pbr {
    display: block;
    padding: 0.75vw;
}

.optimizedfm {
    font-size: 3vw;
    display: block;
    margin: 0.75vw 0 0.75vw 0;
    font-weight: bold;
    background-color: #222;
    padding: 1vw;
    border-radius: 2vw;
}