#projectgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5vw;
    margin-left: 1vw;
}

@media(max-width: 1280px) {
    #projectgrid {
        grid-template-columns: 1fr 1fr;
    }
} 

@media(max-width: 960px) {
    #projectgrid {
        grid-template-columns: 1fr;
    }
}

@media(min-width: 1900px) {
    #projectgrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.introlink {
    margin: 0.5vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    background-color: #e22;
    font-weight: 900;
    transition: 0.25s;
}

    .introlink:hover {
        scale: 1.05;
        color: #f00;
        background-color: #eee;
    }

.project {
    background: rgb(35,35,35);
    background: linear-gradient(135deg, rgba(70,0,0,1) 0%, rgba(0,70,0,1) 50%, rgba(0,0,70,1) 100%);
    border-radius: 2vw;
    box-shadow: 0px 0px 15px #333, 0px 0px 5px 0 #333 inset;
    height: 300px;
    transition: 0.5s;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    padding: 1.5vw;
    text-decoration: none;
}

.linkadditionalpr{
    text-decoration: none;
}

.project:hover {
    box-shadow: 0px 0px 15px yellow, 0px 0px 5px 0 yellow inset;
    scale: 1.03;
}

.projectimg {
    height: 75px;
}

.projectname {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.projectdsc {
    color: white;
    text-decoration: none;
    font-size: 16px;
}