html, body, #main {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #222;
}

#main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
}

#textview {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #111 0 0 0.5vw 1vw inset, black 0 0 3vw inset;
}

#textviewtext {
    color: white;
    font-size: 4vw;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
}

#editor {
    background-color: #24214f;
    display: grid;
    grid-template-rows: 10vh 30vh;
    grid-template-columns: 1fr;
}

#pager {
    background-color: #111;
    display: flex;
}

.pagerbutton {
    background-color: #1f1f2a;
    width: 4.5vw;
    height: 9vh;
    margin: 1vh 0 0 2vw;
    border-radius: 2vh 2vh 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}

.pagerimage {
    width: 80%;
}

.pagerbutton:hover {
    padding-bottom: 0.25vh;
    margin: 0.75vh 0 0 2vw;
    background-color: #201941;
}

.selected {
    background-color: #24214f;
    margin: 0.5vh 0 0 2vw;
    padding-bottom: 0.5vh;
    cursor: default;
}

    .selected:hover {
        padding-bottom: 0.5vh;
        margin: 0.5vh 0 0 2vw;
        background-color: #24214f;
    }

.hidden {
    display: none;
}

.realeditor {
    width: 96vw;
    height: 26vh;
    padding: 2vh 2vw;
}

#texteditorgrid {
    display: grid;
    grid-template-columns: 21vw 21vw 46vw;
    grid-gap: 4vw;
    height: 100%;
    grid-template-rows: 1fr;
}

textarea {
    resize: none;
    width: calc(100% - 1vh - 6px);
    height: calc(20vh - 6px);
    background-color: #555;
    border: solid #777 3px;
    color: white;
    border-radius: 1vh;
    padding: 1vh;
    font-family: Ubuntu, sans-serif;
    font-size: 2.5vh;
    text-align: center;
}

textarea::placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 1;
}

textarea::-ms-input-placeholder {color: #aaa;}

.mainh {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 1vh;
    font-size: 3vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    width: 25px;
    height: 25px;
    padding-right: 20px;
    cursor: pointer;
}

.checklabel {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.2s;
}

.checklabel:hover {
    scale: 1.05;
}

.radio {
    width: 25px;
    height: 25px;
    padding-right: 20px;
    cursor: pointer;
}

.sliderlabel {
    color: white;
    display: flex;
    align-items: center;
    font-size: 2vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.smalllabel {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.8vh;
}

.slider {
    background-color: #444;
    width: 90%;
    accent-color: #726cff;
    box-shadow: white 0 0 5px;
    border-radius: 100px;
    transition: 0.2s;
    -webkit-appearance: none;
    border: solid white 1px;
    padding: 3px;
    cursor: pointer;
}

.slider.nogrow {
    width: 85%;
    height: 1.6vh;
}

    .slider:hover {
        background-color: #24214f;
        accent-color: #6a94f7;
        scale: 1.25 1.1;
    }

    .slider.nogrow:hover {
        background-color: #24214f;
        accent-color: #6a94f7;
        scale: 1.01 1.1;
    }

.qbutton {
    background-color: #24214f;
    border-radius: 500px;
    border: solid white 2px;
    color: white;
    font-family: Ubuntu, sans-serif;
    cursor: pointer;
    font-size: 1.3vh;
    padding: 2px 5px;
    transition: 0.2s;
}

    .qbutton:hover {
        background-color: #312c7d;
        box-shadow: white 0 0 5px;
        scale: 1.2;
    }

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

#coloreditorgrid {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
}

.colortab {
    background-color: #4f49aa;
    color: white;
    text-align: center;
    font-size: 3vh;
    padding: 1vh;
    margin-top: 2vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    border-radius: 2vh 0 0 2vh;
    box-shadow: #111 0.2vh 0.2vh 0.2vh;
    transition: 0.2s;
}

.colortab.nonactive {
    background-color: #333;
    cursor: pointer;
    color: #bbb;
    margin-left: 1vw;
}

    .colortab.nonactive:hover {
        background-color: #3e3b68;
        color: white;
        box-shadow: #ccc 0 0 1vh;
        margin-left: 0.75vw;
    }

#colorselector {
    background-color: #4f49aa;
    border-radius: 2vh;
    padding: 1vh;
    position: relative;
    box-shadow: 0.35vh 0.35vh 0.25vh;
    display: grid;
    grid-template-columns: 25% 25% 40%;
    grid-gap: 5%;
}

.colorgrid {
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    justify-items: center;
    align-items: center;
    height: 20vh;
}

.color {
    border-radius: 20%;
    width: 4.75vh;
    height: 4.75vh;
    border: solid 0.5vh rgb(255 255 255 / 25%);
    scale: 0.9;
    transition: 0.2s;
    cursor: pointer;
}

.color:hover {
    scale: 1;
    box-shadow: black 0 0 0.5vh;
    border: solid 0.5vh rgb(255 255 255 / 50%)
}
#codeviewer {
    background-color: #111;
    width: 96%;
    padding: 1.5vh 2%;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 18px;
    font-family: monospace;
    margin-bottom: 2vh;
    border-radius: 2vh;
    color: white;
    text-align: center;
}

    #codeviewer::-webkit-scrollbar {
        height: 0.75vh;
    }

    #codeviewer::-webkit-scrollbar-track {
        background: #24214f;
    }

    #codeviewer::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 1vh;
        border: solid 0.25vh #24214f;
    }

        #codeviewer::-webkit-scrollbar-thumb:hover {
            background: #fff;
        }

#copycode {
    background: #8b8;
    border-radius: 2vh;
    padding: 1vh 1vw;
    font-size: 2vh;
    color: black;
    cursor: pointer;
    border: solid white 3px;
    box-shadow: rgb(0 0 0 / 50%) 0.5vh 0.5vh 0.3vh;
    transition: 0.2s;
    font-family: Ubuntu, sans-serif;
}

#copycode:hover{
    scale: 1.075;
}

#copycode.copied {
    background: #070;
    border: solid #0a0 3px;
    box-shadow: none;
    cursor: default;
    color: white;
    font-weight: 700;
}

#copycode.copied:hover {
    scale :1;
}

.sliderColorText {
    font-weight: bold;
    width: 15%;
}

.sliderShadow {
    font-weight: bold;
    width: 10%;
}

#shadowgrid {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
}

.mobileSpacer { display: none; }

@media(max-width:800px) {

    #main {
        grid-template-rows: 30% 70%;
    }

    #textview {
        box-shadow: #111 0 0 1vw 2vw inset, black 0 0 5vw inset;
    }

    #textviewtext {
        font-size: 8vw;
    }

    #editor {
        grid-template-rows: 8vh 62vh;
    }

    .pagerbutton {
        width: 12.5vw;
        height: 7vh;
    }

    .pagerimage {
        width: 75%;
    }

    .realeditor {
        width: 90vw;
        height: 58vh;
        padding: 2vh 5vw;
        overflow-y: auto;
    }

    #texteditorgrid {
        display: block;
    }

    textarea {
        resize: none;
        width: calc(100% - 2vh - 10px);
        height: calc(10vh);
        overflow-y: auto;
        border: solid #777 5px;
        font-size: 3vh;
        margin-bottom: 5vh;
    }

    .mainh {
        font-size: 3.5vh;
    }

    .checkbox {
        width: 3vh;
        height: 3vh;
        padding-right: 4vw;
    }

    .checklabel {
        font-size: 2.5vh;
    }

    .radio {
        width: 3vh;
        height: 3vh;
        padding-right: 4vw;
    }

    .sliderlabel {
        font-size: 2.5vh;
    }

    .smalllabel {
        font-size: 2vh;
    }

    .slider {
        border: solid white 3px;
        padding: 10px;
        width: 100%;
        height: 1.75vh;
    }

        .slider.nogrow {
            width: 100%;
            height: 2vh;
        }

        .slider:hover {
            scale: 1;
        }

        .slider.nogrow:hover {
            scale: 1;
        }

    .qbutton {
        border: solid white 3px;
        font-size: 1.5vh;
        padding: 10px;
        display: inline-block;
    }

        .qbutton:hover {
            scale: 1;
        }

    #coloreditorgrid {
        grid-template-columns: 30% 70%;
    }

    #stickycolors { position: sticky; top: 0; display:block; }

    .colortab {
        font-size: 2vh;
        margin-top: 2vh;
    }

        .colortab.nonactive {
            margin-left: 2vw;
        }

    #colorselector {
        display: block;
        margin-bottom: 1vh;
    }

    .colorgrid {
        height: 25vh;
    }

    .color {
        scale: 1;
    }

    #codeviewer {
        width: 92%;
        padding: 1.5vh 4%;
        white-space: normal;
        overflow-x: hidden;
        font-size: 2vh;
    }

    #copycode {
        font-size: 2.5vh;
        border: solid white 5px;
        padding: 1vh;
    }

        #copycode:hover {
            scale: 1;
        }

    .sliderColorText {
        font-weight: bold;
        width: 40%;
    }

    .sliderShadow {
        font-weight: bold;
        width: 10%;
    }

    #shadowgrid {
        display: block;
    }

    .mobileSpacer {
        display: block;
        height: 5vh;
    }
}