html, body, #main {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #222;
}

#main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
}

#textview {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #111 0 0 0.5vw 1vw inset, black 0 0 3vw inset;
}

#editor {
    background-color: #24214f;
    display: grid;
    grid-template-rows: 10vh 30vh;
    grid-template-columns: 1fr;
}

#pager {
    background-color: #111;
    display: flex;
}

.pagerbutton {
    background-color: #1f1f2a;
    width: 4.5vw;
    height: 9vh;
    margin: 1vh 0 0 2vw;
    border-radius: 2vh 2vh 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}

.pagerimage {
    width: 80%;
}

.pagerbutton:hover {
    padding-bottom: 0.25vh;
    margin: 0.75vh 0 0 2vw;
    background-color: #201941;
}

.selected {
    background-color: #24214f;
    margin: 0.5vh 0 0 2vw;
    padding-bottom: 0.5vh;
    cursor: default;
}

    .selected:hover {
        padding-bottom: 0.5vh;
        margin: 0.5vh 0 0 2vw;
        background-color: #24214f;
    }

.hidden {
    display: none;
}

.realeditor {
    width: 96vw;
    height: 26vh;
    padding: 2vh 2vw;
}

#texteditorgrid {
    display: grid;
    grid-template-columns: 21vw 21vw 46vw;
    grid-gap: 4vw;
    height: 100%;
    grid-template-rows: 1fr;
}

textarea {
    resize: none;
    width: calc(100% - 1vh - 6px);
    height: calc(20vh - 6px);
    background-color: #555;
    border: solid #777 3px;
    color: white;
    border-radius: 1vh;
    padding: 1vh;
    font-family: Ubuntu, sans-serif;
    font-size: 2.5vh;
    text-align: center;
}

textarea::placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 1;
}

textarea::-ms-input-placeholder {color: #aaa;}

.mainh {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 1vh;
    font-size: 3vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    width: 25px;
    height: 25px;
    padding-right: 20px;
    cursor: pointer;
}

.checklabel {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.2s;
}

.checklabel:hover {
    scale: 1.05;
}

.radio {
    width: 25px;
    height: 25px;
    padding-right: 20px;
    cursor: pointer;
}