html, body, #main {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #222;
}

#main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#command {
  width: 80vw;
  text-size: 20vw;
  text-weight: 700;
  background: linear-gradient(to bottom right, #00a, #22f);
  color: white;
  text-align: center;
  margin-bottom: 5vw;
  border-radius: 3vw;
}

#query {
  background: linear-gradient(to bottom right, #ddd, #fff);
  color: #222;
  width: 80vw;
  text-size: 10vw;
  text-align: center;
  text-weight: 500;
  border-radius: 3vw;
}

#choices {
  width: 80vw;
  padding: 2vw;
  margin-top: 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  margin-bottom: 5vw;
}