#pnav {
    width: 290px;
    border-radius: 2vw;
    background-color: #5f1f1f;
    margin-bottom: 25px;
    padding: 10px 5px 5px 5px;
    transition: 0.3s;
}

#pnav:hover {
    box-shadow: 0 0 15px #505000;
}

.alnavbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #bbb;
    font-size: 18px;
    transition: 0.2s;
    text-decoration: none;
}

    .alnavbar:hover {
        color: yellow;
    }

.alhere {
    color: white;
    font-weight: 700;
}

    .alhere:hover {
        color: #ffc;
    }

#nav {
    position: initial;
}

#navs {
    position: sticky;
    top: 2vw;
    height: min-content;
}

#hubgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    padding: 2vw;
}

.hublink {
    text-decoration: none;
    color: white;
}

.hub {
    background-color: #221c55;
    border: solid 5px #01008b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    box-shadow: #888 0.1vw 0.1vw 0.15vw, #44a 0.2vw 0.2vw 0.3vw inset;
    transition: 0.2s;
    padding: 1vw;
}

    .hub:hover {
        color: yellow;
        scale: 1.05;
        box-shadow: #eee 0 0 0.25vw, #145312 0 0 0.5vw inset;
        border: solid 5px #145312;
    }

    .hub:active {
        scale: 1.1;
    }

.hubname {
    font-size: 1.5vw;
    margin: 0;
    margin-bottom: 0.5vw;
}

.hubdesc {
    font-size: 0.9vw;
    margin: 0;
}

#mainnavgrid{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vw;
}

.mainnavbutton {
    width: 13vw;
    height: 13vw;
    background: rgb(51,51,51);
    background: linear-gradient(135deg, rgba(51,51,51,1) 0%, rgba(68,16,16,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5vw;
    border: 3px solid black;
    border-radius: 1vw;
    transition: 0.5s;
    animation-timing-function: ease-out;
}

.mainnavbutton:hover{
    scale: 1.05;
    border: 3px solid white;
    box-shadow: white 0 0 15px;
    rotate: 5deg;
    .mainnavimage {
                      rotate: -5deg;
                      scale: 1.25;
                  }
    .mainnavtext {
                      rotate: -5deg;
                  }
}

.mainnavimage {
    width: 5vw;
    margin-bottom: 2vw;
    transition: 0.5s;
}

.mainnavtext {
    font-size: 1.5vw;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.5s;
}

.mainnavlink {
    color: white;
    text-decoration: none;
}

.mainnavdsc {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 0 1vw;
    align-self: start;
}

.albold {font-weight:700;}
.text {font-size: 18px; line-height: 26px;}

.aldown {
    width: 20vw;
    background: #333;
    margin: 10px auto 30px auto;
    padding: 10px;
    border-radius: 10px;
    height: 3vw;
    font-size: 1.3vw;
    line-height: 1.6vw;
    box-shadow: #555 3px 3px 3px;
    cursor: pointer;
    transition: 0.2s;
}

.aldown:hover {
    scale: 1.05;
    box-shadow: white 0 0 10px;
    background: #444;
}

.sectimg {
    width: calc(100% - 3px);
    border-radius: 25px;
    transition: 0.2s;
    border: solid #111 3px;
}
.sectimg:hover {
    scale: 1.2;
    border: solid white 3px;
}