.alnavbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 6vw;
    transition: 0.2s;
    text-decoration: none;
    background: #52510f;
    padding: 2vw;
    margin: 4vw 10vw;
    width: 1fr;
    display: block;
    border-radius: 4vw;
    border: solid white 0.5vw;
}

    .alnavbar:active {
        color: yellow;
        background: #bf2a2a;
        scale: 1.05;
    }

#sourcegrid {
    margin-left: 5%;
    margin-right: 5%;
}

html,body {
    overflow-x: hidden;
}

@keyframes wtfs {
    0% {
        transform: scale3d(1, 1, 1) rotate(0deg);
        right: 0;
        top: 0;
    }

    30% {
        transform: scale3d(0.75, 1.25, 1) rotate(10deg);
        right: 2px;
        top: -20px;
    }

    40% {
        transform: scale3d(1.25, 0.75, 0.95) rotate(-5deg);
        right: -5px;
        top: 10px;
    }

    50% {
        transform: scale3d(0.85, 1.15, 1) rotate(0deg);
        right: 3px;
        top: 7px;
    }

    65% {
        transform: scale3d(1.05, 0.95, 1.05) rotate(5deg);
        right: 5px;
        top: -10px;
    }

    75% {
        transform: scale3d(0.95, 1.05, 1) rotate(-3deg);
        right: -2px;
        top: -3px;
    }

    100% {
        transform: scale3d(1, 1, 1) rotate(0deg);
        right: 0;
        top: 0;
    }
}

#wtf {
    animation: wtfs 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0s infinite normal forwards;
    position: relative;
    font-size: 3vh;
}