*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background: var(--textcolor);
    border-radius: 100px;
    border: solid 2px var(--verybgcolor);
}

    *::-webkit-scrollbar-thumb:hover {
        background: red;
    }

*::-webkit-scrollbar-corner {
    background: var(--verybgcolor);
}

p {
    color: var(--textcolor);
    font-family: Ubuntu;
    font-size: 2.5vh;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--verybgcolor);
}

.hidden {
    display: none !important;
}

pseudo {
    color: var(--textcolor);
    font-family: Ubuntu;
}

    pseudo[type="title"] {
        font-size: 32px;
        font-weight: bold;
        margin: 0 24px 0 0;
        line-height: 40px;
    }

    pseudo[type="description"] {
        font-size: 18px;
        margin: 0;
    }

    pseudo[type="textcont"] {
        display: flex;
        align-items: baseline;
    }

    pseudo[type="tabcont"] {
        display: flex;
        background-color: var(--syntaxbackground);
        height: 3.5vh;
        border-radius: 1.5vh 1.5vh 0 0;
        border-left: solid 2px var(--textcolor);
        border-right: solid 2px var(--textcolor);
        border-top: solid 2px var(--textcolor);
        padding: 0.5vh 0.5vh 0 0.5vh;
        box-shadow: var(--verybgcolor) 0 -3px 3px 0 inset;
    }

    pseudo[type="tab"] {
        font-size: 2.5vh;
        line-height: 1;
        padding: 0.5vh 1vh;
        border-radius: 1vh 1vh 0 0;
        background-color: #888;
        margin-right: 0.5vh;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: var(--verybgcolor) 0 -3px 3px 0 inset;
    }

        pseudo[type="tab"]:hover {
            background-color: var(--verybgcolor);
        }

        pseudo[type="tab"].selected {
            font-weight: bold;
            background-color: var(--verybgcolor);
            box-shadow: var(--shadowtabcolor) 0 -3px 5px -3px;
        }

        pseudo[type="tab"].last {
            margin-right: 0;
        }

    pseudo[type="space"] {
        width: 1vh;
        height: 1vh;
        display: block;
    }

    pseudo[type="longspace"] {
        width: 5vh;
        height: 1vh;
    }

    pseudo[type="fullspace"] {
        flex-grow: 1;
    }

.flex {
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.flex.column {
    flex-direction: column;
}

.center {
    text-align: center;
}

.flex.center {
    justify-content: center
}

.inline {
    margin-left: 1vh;
    margin-right: 2vh;
    transition: 0.2s;
}

.inline.fit {
    margin-right: 0;
}

.fill {
    flex-grow: 1;
    margin-right: 0;
}

.input {
    height: min-content;
    font-size: 2.5vh;
    font-family: Ubuntu, sans-serif;
    background-color: var(--syntaxbackground);
    color: var(--textcolor);
    border: none;
    padding: 0.5vh 1vh;
    border-radius: 1vh;
    box-shadow: var(--shadowtabcolor) 0 0 2px;
    transition: 0.2s;
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    background-color: var(--syntaxbackground);
    border-radius: 1.5vh;
    width: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="color"] {
    height: 4vh;
    width: 4vh;
    cursor: pointer;
    padding: 0.1vh 0.25vh;
}

    input[type="color"]:hover {
        background: none;
        box-shadow: none;
        scale: 1.1;
    }

.button {
    font-size: 2.5vh;
    font-family: Ubuntu, sans-serif;
    background-color: #888;
    opacity: 0.8;
    color: var(--textcolor);
    border: none;
    padding: 0.5vh 1vh;
    box-shadow: var(--shadowtabcolor) 0 0 2px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .button:hover {
        background-color: var(--syntaxbackground);
    }

    .button.left {
        border-radius: 1.5vh 0 0 1.5vh;
    }

    .button.right {
        border-radius: 0 1.5vh 1.5vh 0;
    }

    .button.chosen {
        background-color: var(--syntaxbackground);
        pointer-events: none;
        cursor: default;
        opacity: 1;
    }

    .button.whole {
        background-color: var(--syntaxbackground);
        opacity: 1;
        border-radius: 1.5vh;
        font-weight: bold;
    }

    .button.whole:hover {
        scale: 1.05;
    }

input[type=checkbox] {
    width: 2.5vh;
    height: 2.5vh;
    cursor: pointer;
    margin-right: 0.5vh;
}

.imgbutton {
    width: 3vh;
    height: 3vh;
    background-color: #181818;
    padding: 0.5vh;
    border-radius: 1vh;
    box-shadow: var(--shadowtabcolor) 0 0 2px;
    filter: var(--imagefilter);
    transition: 0.2s;
    cursor: pointer;
}

    .imgbutton:hover {
        width: 4vh;
        height: 4vh;
        padding: 0;
        box-shadow: none;
        background: none;
    }

.imgbutton.big {
    width: 5vh;
    height: 5vh;
    padding: 1vh;

}

    .imgbutton.big:hover {
        scale: 1.4;
        padding: 0.5vh;
        margin: 0.5vh;
        box-shadow: none;
        background: none;
    }

textarea {
    resize: vertical;
    width: 100%;
    min-height: 60px;
    max-height: 30vh;
    font-family: Consolas, monospace !important;
    font-size: 18px !important;
}

.smalltitle {
    font-size: 2vh;
    margin-bottom: 2.5vh;
    margin-top: 0;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

code {
    color: var(--textcolor);
    font-family: Consolas, monospace;
    font-size: 2vh;
    background-color: var(--syntaxbackground);
    padding: 0.5vh 1vh;
    border-radius: 1vh;
    box-shadow: var(--shadowtabcolor) 0 0 2px;
    transition: 0.2s;
    display: block;
}

span.symbol {
    color: var(--syntaxsymbol);
}

span.kw {
    color: var(--syntaxkeyword);
}

span.prop {
    color: var(--syntaxproperty);
}