pseudo {
    color: var(--textcolor);
    font-family: Ubuntu;
}

    pseudo[type="title"] {
        font-size: 32px;
        font-weight: bold;
        margin-right: 24px;
    }

    pseudo[type="description"] {
        font-size: 18px;
    }

    pseudo[type="textcontainer"] {
        display: flex;
        align-items: baseline;
    }

p {
    color: var(--textcolor);
    font-family: Ubuntu;
    font-size: 20px;
}