.mcbutton {
    box-shadow: 2px 2px 10px 0px #ffffff;
    background-color: #6b6b6b;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 5vw;
    font-weight: bold;
    padding: 1.6vw 3vw;
    width: 67.5%;
    text-decoration: none;
    text-shadow: 0px 1px 2px #000000;
    margin: 20px 0 20px 0;
}

    .mcbutton:hover {
        background-color: #8f8f8f;
    }

    .mcbutton:active {
        background-color: #aaaaaa;
    }
